html {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    background: transparent;
    color: #e0d6f5;
    box-shadow: 0 0 0 3px #000000 inset;
    :hover{
        transform: translateY(-2px);
    }
}

img {
    .center {
        display: block;
      }
      width: 500px;
      height: 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #000000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    text-align: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

body {
  background-color: rgb(44, 62, 80);
}
  
p {
  text-color
}
